<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='../static/info.css'>
    <title>Email password Info</title>
</head>
<body>
    <div class="container">
        <h1 class="col-12 text-center mt-4 title">Welcome to Email Blaster 3000<span class="v"> v2.0</span></h1>
        <p class="col-12 text-center subtitle">For all of your email blasting needs</p>
            <hr class="hr">
        <a href="/"><button class="btn btn-secondary btn-sm offset-11 main">Main Page</button></a>
        <h3 class="col-12 text-center mt-3 newEmail">Gmail App Password Instructions</h3>
            <br><br>
        <p>1. Go to MyAccount.google.com. You may have to log in to your Gmail account if not already </p>
        <img src="../static/pics/my_account.png" alt="MyAcount.google.com" class="col-lg-5 col-md-8 col-sm-12 mt-2">
            <br><br>
        <p>2. Click on "Security" on the left side-bar</p>
        <img src="../static/pics/security.png" alt="security on left side-bar" class="col-lg-5 col-md-8 col-sm-12 mt-2">
            <br><br>
        <p>3. Click on "App Passwords" in the middle options section</p>
        <img src="../static/pics/app_passwords.png" alt="App Passwords middle section" class="col-lg-10 col-md-10 col-sm-12 mt-2">
            <br><br>
        <p>4. You will see the "your app passwords page". Click on "Select app" and choose "Mail"</p>
        <p>4b. Then click on "select device" (I use windows for this example). Then select "generate" </p>
        <div class="row">
            <img src="../static/pics/mail.png" alt="mail option" class="col-md-6 mt-2">
            <img src="../static/pics/windows.png" alt="device options" class="col-md-6 mt-2">
        </div>
            <br>
        <p>5. You will then receive a Gmail App Password. Copy and paste that into the Email Blaster 3000! (Note: Your password will not be saved in the Email Blaster for your security)</p>
        <img src="../static/pics/password.png" alt="generated password" class="col-lg-8 col-md-10 col-sm-12 mt-2">
            <br><br>
    </div>
</body>
</html>